In [2]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
from tqdm.notebook import tqdm

import sys
sys.path.append('../src')
from data_load.csvs import get_asset_price_history
from strategies import WeeklyDCA, MonthlyDCA, WeeklyFNGDCA, WeeklyCategoricalFNGDCA, WeeklyRollingZScoreDCA, WeeklyCategoricalZScoreDCA, WeeklyZFNGDCA

# Test setup

strategies = {
    "weekly": {
        "params":["Tuesday"], 
        "strategies": [ WeeklyDCA, WeeklyFNGDCA, WeeklyCategoricalFNGDCA, WeeklyRollingZScoreDCA, WeeklyCategoricalZScoreDCA, WeeklyZFNGDCA]
    },
    "monthly": {
        "params": [16],
        "strategies": [ MonthlyDCA ]
    }
}

periods = [("Last 3 Years", 365*3), ("Last 2 Years", 365*2), ("Last year", 365), ("Last Semester", 365//2)]

# Set experiment parameters

START = "2017-01-01"
END = "2022-05-08"
ASSET = "BTC"
WEEKLY_INVESTMENT = 100

# Collect BTC data

df = get_asset_price_history(ASSET, START, END)

df = WeeklyFNGDCA(WEEKLY_INVESTMENT, "Tuesday").preprocess(df)
df = WeeklyCategoricalFNGDCA(WEEKLY_INVESTMENT, "Tuesday").preprocess(df)
df = WeeklyRollingZScoreDCA(WEEKLY_INVESTMENT, "Tuesday").preprocess(df)
df = WeeklyCategoricalZScoreDCA(WEEKLY_INVESTMENT, "Tuesday").preprocess(df)
df = MonthlyDCA(WEEKLY_INVESTMENT*4, 15).preprocess(df)

# Generate stats
res = []
for label, period in periods:
    df_period = df.iloc[-period:]
    for k, v in strategies.items():
        for param in v["params"]:
            for strategy_class in v["strategies"]:
                investment = WEEKLY_INVESTMENT * 4 if k == "monthly" else WEEKLY_INVESTMENT
                strategy = strategy_class(investment, param)
                stats = strategy.backtest(strategy.apply(df_period))
                stats["period"] = label
                res.append(stats)
                
df_res = pd.DataFrame(res)

def style(df):
    return df.style.highlight_max(subset=["strategy_fiat_gain_absolute", "strategy_fiat_gain_percent"], color = 'lightgreen', axis = 0).highlight_min(subset=["strategy_average_asset_price"], color = 'lightgreen', axis = 0)

for period, _ in periods:
    df_res_period = df_res[df_res.period==period]
    print(period)
    display(style(df_res_period))

Last 3 Years

Last 2 Years

Last year

Last Semester

In [3]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
from tqdm.notebook import tqdm

import sys
sys.path.append('../src')
from lib.data_load.csvs import get_asset_price_history
from lib.strategies import WeeklyDCA, MonthlyDCA, WeeklyFNGDCA, WeeklyCategoricalFNGDCA, WeeklyRollingZScoreDCA, WeeklyCategoricalZScoreDCA, WeeklyZFNGDCA

# Test setup

strategies = {
    "weekly": {
        "params":["Tuesday"], 
        "strategies": [ WeeklyDCA, WeeklyFNGDCA, WeeklyCategoricalFNGDCA, WeeklyRollingZScoreDCA, WeeklyCategoricalZScoreDCA, WeeklyZFNGDCA]
    },
    "monthly": {
        "params": [16],
        "strategies": [ MonthlyDCA ]
    }
}

periods = [("Last 3 Years", 365*3), ("Last 2 Years", 365*2), ("Last year", 365), ("Last Semester", 365//2)]

# Set experiment parameters

START = "2017-01-01"
END = "2022-05-08"
ASSET = "ETH"
WEEKLY_INVESTMENT = 100

# Collect BTC data

df = get_asset_price_history(ASSET, START, END)

df = WeeklyFNGDCA(WEEKLY_INVESTMENT, "Tuesday").preprocess(df)
df = WeeklyCategoricalFNGDCA(WEEKLY_INVESTMENT, "Tuesday").preprocess(df)
df = WeeklyRollingZScoreDCA(WEEKLY_INVESTMENT, "Tuesday").preprocess(df)
df = WeeklyCategoricalZScoreDCA(WEEKLY_INVESTMENT, "Tuesday").preprocess(df)
df = MonthlyDCA(WEEKLY_INVESTMENT*4, 15).preprocess(df)

# Generate stats
res = []
for label, period in periods:
    df_period = df.iloc[-period:]
    for k, v in strategies.items():
        for param in v["params"]:
            for strategy_class in v["strategies"]:
                investment = WEEKLY_INVESTMENT * 4 if k == "monthly" else WEEKLY_INVESTMENT
                strategy = strategy_class(investment, param)
                stats = strategy.backtest(strategy.apply(df_period))
                stats["period"] = label
                res.append(stats)
                
df_res = pd.DataFrame(res)

def style(df):
    return df.style.highlight_max(subset=["strategy_fiat_gain_absolute", "strategy_fiat_gain_percent"], color = 'lightgreen', axis = 0).highlight_min(subset=["strategy_average_asset_price"], color = 'lightgreen', axis = 0)

for period, _ in periods:
    df_res_period = df_res[df_res.period==period]
    print(period)
    display(style(df_res_period))

Last 3 Years

Last 2 Years

Last year

Last Semester